In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [17]:
df = pd.read_csv('csv_building_ownership_and_use.csv')
df.head()

,building_id,district_id,vdcmun_id,ward_id,legal_ownership_status,count_families,has_secondary_use,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,120101000011,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
1,120101000021,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
2,120101000031,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
3,120101000041,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
4,120101000051,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0

In [18]:
df.columns

Index(['building_id', 'district_id', 'vdcmun_id', 'ward_id',
       'legal_ownership_status', 'count_families', 'has_secondary_use',
       'has_secondary_use_agriculture', 'has_secondary_use_hotel',
       'has_secondary_use_rental', 'has_secondary_use_institution',
       'has_secondary_use_school', 'has_secondary_use_industry',
       'has_secondary_use_health_post', 'has_secondary_use_gov_office',
       'has_secondary_use_use_police', 'has_secondary_use_other'],
      dtype='object')

In [19]:
df.legal_ownership_status.unique()

array(['Private', 'Other', 'Institutional', 'Public'], dtype=object)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 762106 entries, 0 to 762105
Data columns (total 31 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             762106 non-null  int64
 1   district_id                             762106 non-null  int64
 2   vdcmun_id                               762106 non-null  int64
 3   ward_id                                 762106 non-null  int64
 4   count_floors_pre_eq                     762106 non-null  int64
 5   count_floors_post_eq                    762106 non-null  int64
 6   age_building                            762106 non-null  int64
 7   plinth_area_sq_ft                       762106 non-null  int64
 8   height_ft_pre_eq                        762106 non-null  int64
 9   height_ft_post_eq                       762106 non-null  int64
 10  land_surface_condition                  762106 non-null  object
 11  foundation_type                         762106 non-null  object
 12  roof_type                               762106 non-null  object
 13  ground_floor_type                       762106 non-null  object
 14  other_floor_type                        762106 non-null  object
 15  position                                762105 non-null  object
 16  plan_configuration                      762105 non-null  object
 17  has_superstructure_adobe_mud            762106 non-null  int64
 18  has_superstructure_mud_mortar_stone     762106 non-null  int64
 19  has_superstructure_stone_flag           762106 non-null  int64
 20  has_superstructure_cement_mortar_stone  762106 non-null  int64
 21  has_superstructure_mud_mortar_brick     762106 non-null  int64
 22  has_superstructure_cement_mortar_brick  762106 non-null  int64
 23  has_superstructure_timber               762106 non-null  int64
 24  has_superstructure_bamboo               762106 non-null  int64
 25  has_superstructure_rc_non_engineered    762106 non-null  int64
 26  has_superstructure_rc_engineered        762106 non-null  int64
 27  has_superstructure_other                762106 non-null  int64
 28  condition_post_eq                       762106 non-null  object
 29  damage_grade                            762094 non-null  object
 30  technical_solution_proposed             762094 non-null  object
dtypes: int64(21), object(10)
memory usage: 180.2+ MB